* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-item-pruebagratuita{
    background-color: aqua;
    border-radius: 100px;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}

.nav-item-funcionalidades{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}

.nav-item-soluciones{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}

.nav-item-precios{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}

.nav-item-ingresar{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}

.aqua{
    color: aqua;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    margin-left: 80px;
    line-height: 0.5;
}

.titulo{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: 80px;
    margin-left: 80px;
    line-height: 1.2;
    
}

.texto{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: larger;
    margin-top: 55px;
    margin-left: 80px;
    line-height: 0.5;
}

.textoo{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: larger;
    margin-left: 80px;
    line-height: 0.5;

}

.titulo2 {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: 300px;
    margin-left: 540px;
}

.textooo{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: larger;
    line-height: 0.5;
    margin-left: 540px;
}

.textoi{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: larger;
    line-height: 0.5;
    margin-left: 540px;
    margin-top: 40px;
}

.aqua2{
    color: aqua;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    text-decoration: underline;
    margin-left: 750px;
    line-height: 0.5;
}

.carrusel{
    width: 500px;
    height: 500px;
    margin-top: 100px;
    margin-left: 195px;
}

.titulo3{
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    margin-top: -470px;
    margin-left: 900px;
}

.text{
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: larger;
    line-height: 2.9;
    margin-top: -2px;
    margin-left: 900px;
}

.textt{ 
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    font-size: larger;
    margin-top: -3px;
    margin-left: 900px;
    line-height: 0.1rem;
}

.boton{
    background-color: black;
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    margin-top: -3px;
    margin-left: 900px;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
}

.boton:hover{
    background-color: aqua;
}

.empresarios{
    width: 800px;
    height: 500px;
}